.fundo_cadastro {
    width: 100%;
    height: 60pc;
    display: flex;
    justify-content: center;
    gap: 10cm;

  


.caixa-principal{   
    background-color: #ffffff;
    display: flex;
    width: 90%;
    height: 105vh;
    margin: 10px;
    padding: 10px;
    position: relative;
    padding-left: 86px;
    margin-bottom: -10px;
    border-radius: 10px;
    flex-direction: row-reverse;


    .central{
        background-color: rgb(255, 255, 255);
        height: 145vh;
        width: 60%;
        display: flex;
        border-radius: 70px 0 0 70px;
        background-image: url(/src/assets/images/imagem_central.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        justify-content: flex-start;
        padding-left: 50px;
        align-items: center;
        


        .logo-feira{
         display: flex;
         width: 450px;
         height: auto;
         opacity: 70%;
        }


    }



    .cadastro-caixa{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(27, 38, 59, 1);
        border-radius: 0 80px;
        display: flex;
        width: 55%;
        height: 145vh;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        z-index: 5;


        h2{
            font-size: 40px;
            margin: 10px;
        }

        
    


    input{
        color:rgb(0, 0, 0);
        height: inherit;
        width: 25pc;
        font-size: 0.5cm;
        padding: 6px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 25px;
        flex-direction: column;
        display: flex;
    }
    select{
        color: rgb(0, 0, 0);
        height: inherit;
        width: 100%;
        font-size: 0.5cm;
        padding: 6px;
        border: 1px solid gray;
        border-radius: 5px;
        flex-direction: column;
        display: flex;
        margin-bottom: 25px;
        font-family: Arial, Helvetica, sans-serif;
        cursor:pointer;
        

        option{
            cursor:pointer;
            color: gray;
        }
    }


    

    .cadastrar{
        background-color: orangered;
        width: 20pc;
        height: auto;
        padding: 15px;
        border-radius: 20px;
        border: 1px solid orangered;
        font-size: 20px;
        font-weight: 600;
        color: white;
        transition: all 0.5s;
        }
        .cadastrar:hover{
            
            background-color: rgb(236, 69, 8);
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            transform: scale(1.05);



        
    }



        }

    }




}


@media screen and (max-width: 768px) {

     header {
        height: auto;
        padding: 10px 0;
        flex-direction: row;
        height: 15vh;

        .cabecalho {
            flex-direction: row;
            gap: 15px;

            .principal {
                width: 100%;
                height: auto;
                flex-direction: row;
                justify-content: flex-start;
                

                h1 {
                    font-size: 15px;
                    padding: 10px;
                    min-width: 150px;
                }
            }
            .arealink{
                display: flex;
                width: 80%;
                .login{display: none;}

            

            .inscricao {
                width: 100%;
                font-size: 12px;
                margin-bottom: 10px;
            }
            }
        }
    }
  .fundo_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    justify-content: center;

    .central {
      display: none !important; 
    }

    .caixa-principal {
      text-align: center;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: transparent;

      .logo-feira {
        position: relative;
        transform: none;

        display: flex;
        background-color: transparent;
        margin-right: 70px;
        justify-content: center;
        display: flex;
        justify-self: center;
        align-self: center;
        min-height: 200px;
        min-width: 200px; 
      }

      .cadastro-caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // Centraliza no mobile
        width: 100%; // Para caber na tela
        min-width: 430px; // Impede de ficar gigante
        margin: 20px auto 0 auto; // Centraliza sem "empurrar"
        padding: 30px;

        input {
          width: 100%;
          min-width: 360px;
        }

        select {
          width: 100%;
          max-width: 360px;
          font-size: 15px;
        }

        option {
          font-size: 11px;
        }
      }
    }
  }
}


/*.rodape{
    
        display: flex;
        height: auto;
        padding: 30px 0;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .caixa_instituto,
        .caixa_loc,
        .contatos-tel{
            width: 50%;
            height: auto;
            margin: auto;
            align-items: center;
            text-align: center;
            padding-top: 0;
        }

        con
        
        
    
   
 
    hr {
        height: 1px;
        width: 20%;
        margin: 20px auto;

    }

    .imagem_frei {
        height: auto;
        max-height: 100px;
    }
}*/





/*background-image: url(./assets/images/imagem_central.png);
    background-size: 120pc;
    background-position-x: center;
    background-position-y: center ;
    background-repeat: no-repeat;
    align-items: center;*/



