*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    body{
        background-color: rgb(45, 48, 81);

        header{
        width: 100%;
        height: 15vh;
        padding-left: 10%;
        display: flex;
        flex-direction: row;
        
        

        .cabecalho{
            display: flex;
            width: 100%;
            margin: 5px;
            align-items: center;


            .logo{
                height: 80px;
            }
            
            h1{
            font-weight: 800px; /* Negrito forte */
            color: #ffffff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: fit-content;
            max-width: 25%;
            font-size: 25px;
            }
        }
    }
        




    .container-image{
        background-image: url(./assets/images/freii.png) ;        
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        background-size:cover;
        background-position: center;  
        background-repeat: no-repeat;


        .Container-informacao{
            font-size: 40px;
            width: 50%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            gap: 10px;
            opacity: 200%;
            position: relative;
            color: rgb(255, 255, 255);
            justify-content: center;
            
            
            

            h1{
                margin-top: 30PX;
                width: 100%;
                font-family: "Archivo Black", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 70px;
            
            }

            .sla{
                width: 50%;
                background-color: #ffa200;
                height: 2vh;
            }
            hr{
                display: flex;
                width: 40%;
                height: 15px;
                background-color: #ffa200;
                border-color: #ffa200;
                padding: 10px;
            }
            
            h3{
                font-size: 40px;
                
            }

            .inscricao{
                text-decoration: none;
                margin-top: 30px;
                width: 50%;
                padding: 15px;
                display: flex;
                font-size: 20px;
                align-items: center;
                justify-content: center;
                margin-left: 20%;
                border: none;
                border-radius: 40px;
                font-weight: bolder;
                color: white;
                background-color: rgba(255, 72, 0, 0.699);
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
        
            }
        }

        .imagem2{
            width: 30%;
            height: 70vh;
            justify-content: center;      
            align-items: center;      
            display: flex;
            padding: 10px;
 
                
            img{
                
                height: 500px;
                
         
            }
            
        
        }

    }

    h2{
        margin-top: 10px;
        display: flex;
        color: #F5BA53;
        font-size: 40px;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 40px 0px;
    }


    

    

    .carrosel{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: #D6EAF8;
        margin-top: 10px;
        gap: 0px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
        

  .swiper {
    padding-bottom: 40px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 10px;          
    padding: 10px;         
    background: #f9f9f9;   
    border: 1PX solid rgba(53, 96, 153, 0.582);
    border-radius: 8px;    
    box-shadow: 0 2px 90px rgba(0,0,0,0.1);
    cursor:grab;
    margin: 0 0px;
    
}

.slide-item {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.slide-item:hover {
    transform: scale(1.05);
}

.swiper-slide:active {
    cursor: grabbing;
}

.slide-text {
    color: #23458B;
    text-align: center;
    margin-top: 0.5rem;

    h1 {
        font-size: 3vh;
        margin-bottom: 0.2rem;
    }

    h3 {
        font-size: 2vh;
        font-weight: normal;
    }
}

.swiper-button-prev,
.swiper-button-next {
    
    display: none !important;
    color: black;
}

.swiper-pagination-bullet {
    background: #303261;
}
    
}
    
}

}